@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-webfont.woff2') format('woff2'), url('alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header,
main {
    max-width: 60%;
    margin: 0 auto;
}

header {
    text-align: center;
    font-family: 'alex_brushregular';
    font-size: 3.5em;
}